/* Default HTML elements */
body
{
    font-size:100%;
}


/*field set*/
fieldset legend
{
    background-color: #999999;
    border-color: #777777;
    text-align: left;
    font-size: 100%;
    font-weight: normal;
    margin: 0 0 10px;
    padding: 0.2em 0.5em;
    position: relative;
    top: -1em;
    font-variant: normal;
}
fieldSet legend, legend
{
    background-color: #999999;
    border-color: #777777;
    text-align: left;
    font-size: 100%;
    font-weight: normal;
    font-variant: normal;
}

/* Classes */
.AboveContentBarLeft
{
    /* float: left; */
    padding: 0.2em;
}

.AboveContentBarRight
{
    float: right;
    padding: 1em 1em;
}
.AdvancedSearch fieldset, fieldset, FieldSet
{
    background-color: #EBEBEB;
    border: 1px solid #777;
    margin-bottom: 0.2em;
    margin-top: 0.3em;
    margin-left: 1em;
    width: 90%;
}
.fieldLegend hr
{
    display: none;
}
/* end safe*/


/*search */

.SearchForm #hl-csslinkbutton
{
    float: none;
    display: inline;
    padding: 0px;
}
.AdvancedSearch .AdvancedButtons
{
    padding-top: 1em;
    width: 90%;
}
.AdvancedSearch #hl-csslinkbutton
{
    padding-right: 1em;
    float: right;
}
/*end safe*/

.SearchResults .ItemContent
{
    border-bottom: 1px solid #ebebeb;
}
.HeaderStatusBar, .SearchResults .HeaderStatusBar
{
    padding: 0.5em 2em;
}
.ResultStatus
{
    display: inline;
}
.SearchResults .SortBy
{
    display: inline;
    float: right;
}
.CollapseHeader, .AdvancedSearch .CollapseHeader
{
    padding-bottom: 0.3em;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}
/* check with yoofi, if used, they need to go out to the cloud. check the old css, they might not be needed.*/
.SortDESC
{
    background-image: url("images/sort-arrows-up.png");
    background-position: right center;
    background-repeat: no-repeat;
    padding: 0 10px 0 0;
    vertical-align: middle;
}
.SortASC
{
    background-image: url("images/sort-arrows-down.png");
    background-position: right center;
    background-repeat: no-repeat;
    padding: 0 1em 0 0;
    vertical-align: middle;
}
/*end check with yoofi*/

.SearchResults div.ItemContent:hover
{
    background-color: transparent;
}

/* profile *//*blows out container on profile page...  - leave here*/
.profileImageContainer
{
    padding: 1em;
    border: 1px solid #ebebeb;
}

/*handle the ratings stars or recommended features - we'll have to test*/
.ratingSkinning
{
    color: #777;
    float: left;
    margin: 0 0 0 8px;
    font-size: .8em;
}
.AddEditSurround
{
    background: lightgray;
    width: 98em;
    margin: auto;
    text-align: right;
}

.ContentUserControl div.Content
{
    /* padding: 5px 10px 10px 10px; */
}

.Container
{
    margin-bottom: 2em;
}
.Container thead .header td, .Container thead .Header td, .TableHeader th
{
    padding: 2em;
    font-size: 100%;
    font-weight: bold;
}
.Container .SubHead td
{
    padding: 0.5em;
    font-weight: normal;
    border-left: none;
    border-right: none;
}
.Container .SubHead .FirstColumn
{
    text-indent: 1em;
}
.Container .ContainerRow .FirstColumn, .Container .ContainerAlternativeRow .FirstColumn
{
    text-indent: 1em;
}
.Container thead .Header td, th, .DGHBottom, .ListContainer .ListHeader, .drItemSubHeader
{
    color: #fff;
}
.editFunnelButtonContainer .Hint
{
    float: right;
}

/*Form styling for funneling  - test... likely yoofi's stuff - need to test*/
.Funnel
{
    background-color: #ccc;
}

.funnelFormLeft
{
    width: 12em;
    text-align: right;
    float: left;
    padding: 0 1em;
}

.funnelFormRight
{
    float: left;
    text-align: left;
}

.funnelFormBlocks
{
    margin: 0.5em auto;
}

.cmModalPopupBackgroundForPresenterText
{
    width: 72em;
}
.StatsBlock
{
    background-color: #F0F1EB;
}


.MPContentSection
{
    float: none;
}

.Content div.InboxMessages
{
    border-bottom: 1px dotted #AFB1B3;
    margin-bottom: 0.5em;
    padding: 1em;
}
.HLWelcomeHeader .Login {
    margin-top: 1em;
    margin-right: 1em;
    padding: 0em;
    text-align: right;
    margin: 1em 1em 0 0;
}
.MyDocumentsPage div.Content
{
    background-image: none;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    border-color: transparent;
    color: #333333;
}
.MyDocumentsPage div.Content div.HLContainer
{
    border-bottom: 1px dotted #AFB1B3;
    clear: both;
    height: auto !important;
    margin-bottom: 0.5em;
    min-height: 1em;
    padding: 0.5em;
    word-wrap: break-word;
}

.commRecentBlogs div.Content
{
    background-image: none;
    background-position: 0 0;
    background-repeat: none;
    border: transparent;
    background-color: #FFFFFF;
    color: #333333;
}
.commEventList div.Content
{
    background-image: none;
    background-position: 0 0;
    background-repeat: none;
    border: transparent;
    background-color: #FFFFFF;
    color: #333333;
}
.profDiscussionPostings div.Content
{
    background-image: none;
    background-position: 0 0;
    background-repeat: none;
    border: transparent;
    background-color: #FFFFFF;
    color: #333333;
}
.profSharedFiles div.Content
{
    background-image: none;
    background-position: 0 0;
    background-repeat: none;
    border: transparent;
    background-color: #FFFFFF;
    color: #333333;
}
.Content div.horizontalRule hr
{
    background-color: none;
    border: none;
    border-radius: none;
    box-shadow: none;
    height: 0;
    margin: 1em auto;
    width: 100%;
}
/*HLLanding Control*/
.HLLandingControl h3
{
    font-size: 1.2em;
}
.HLLandingControl a
{
    font-family: arial;
    font-size: .95em;
    text-decoration: underline;
}
.HLLandingControl a:hover
{
    text-decoration: none;
}
.HLLandingControl .Content a:hover
{
    text-decoration: none;
}
.HLLandingControl h2
{
    font-size: 1.2em;
    font-weight: bold;
    font-family: Arial; /*color: #b6d8e9;   need to let the color picker set these 	background-color: #3789FF;*/
    padding: 0.3em 0 0.5em 0.5em;
    margin-top: 0;
}
.HLLandingControl h3
{
    font-weight: normal;
    line-height: 1.2em;
}
.HLLandingControl .Content h3
{
    margin: 0.2em 0 0 0;
}
.HLLandingControl .Content h3 a
{
    /* font-family: arial; */
    font-size: 1em;
    /* font-weight: bold; */
    text-decoration: none;
}
.HLLandingControl .Content h3
{
    /* font-family: arial; */
    font-size: 1em;
    /* font-weight: bold; */
    /* text-decoration: none; */
}
.HLLandingControl .Content h3 a:hover
{
    text-decoration: none;
    font-weight: bold;
}
.HLLandingControl .Content
{
    /* border: 1px solid; */
    /* padding: 15px 20px; */
    /* background-image: url('http://cdn.hlm2.com/App_Themes/Common/Images/pfGradientBg.png'); */
    /* background-position: 0px 0px; */
    /* background-repeat: repeat-x; */
}
.HLLandingControl .Content .ByLine
{
    color: #808080;
    margin: 0.2em;
    font-size: 0.8em;
}

.HLLandingControl .Content h5
{
    color: #808080;
    margin: 0.2em;
    font-size: 0.8em;
}
.HLLandingControl .HLMyDocuments .Details
{
    width: 100%;
    margin: 0px;
}
.HLLandingControl table
{
    width: 100%;
}
.HLLandingControl .ContainerTableProfile
{
    width: 10%;
    vertical-align: top;
}
.HLLandingControl .ContainerTableDetails
{
    width: 90%;
    vertical-align: top;
}
.HLLandingControl .Picture
{
    /* border: 0px; */
}
.HLLandingControl h2, .headerItem, .drItemSubHeader, .drItemSubHeader a
{
    font-size: 100%;
}
.HLLandingControl h2, .headerItem, .drItemSubHeader, .drItemSubHeader a
{
    -webkit-border-top-left-radius: 0.5em;
    -webkit-border-top-right-radius: 0.5em;
    -moz-border-radius-topleft: 0.5em;
    -moz-border-radius-topright: 0.5em;
    border-radius: 0.5em 0.5em 0 0;
    padding: 0.2em;
    font-size: inherit;
}
.HLLandingControl .Content a
{
    /* font-size: 1em; */
}

.HLLandingControl div.HtmlContent
{
    /* background-image: url("http://cdn.hlm2.com/App_Themes/Common/Images/pfGradientBg.png"); */
    /* background-position: 0 0; */
    /* background-repeat: repeat-x; */
    /* border: 1px solid; */
    padding: 0.2em;
}
/*allows for opting out of gradient and border*/
.HeaderOnly div.HtmlContent
{
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat-x;
    border: none;
    padding: 1em 2em;
}

.HLEventList div.Content
{
    /* background-color: #FFFFFF; */
    /* color: #333333; */
}
.HLMyDocuments div.Content
{
    background-color: #FFFFFF;
    color: #333333;
}
.MPHeader div
{
    padding: 0em;
}
.profileContentSpacing div.ContentItemHtml, div.ContentUserControl
{
    padding: 0;
}

.MPNavBar
{
    height: auto !important;
    min-height: 2em;
}
.MPFooter
{
    /* height: auto; */
    min-height: 1.5em;
}

.MenuBarUnderline
{
    /* margin-top: -1px; */
}
/*welcome box - all this stuff needs to be shielded... inside the header*/
.HLWelcomeHeader .Content
{
    margin-top: 1em;
    margin-bottom: 0.3em;
}

.HLWelcomeHeader .Content
{
    margin-top: 0.3em;
    margin-bottom: 0.2em;
}

.HLWelcomeHeader .Picture
{
    float: left;
    /* width: 40px; */
    /* margin-right: 12px; */
    /* margin-top: 3px; */
    /* padding: 1px; */
    /* border: solid 1px #AFB1B3; */
}
.HLWelcomeHeader .Content
{
    /* border-bottom: 1px solid #AAA; */
    /* border-right: 1px solid #AAA; */
    /* border-left: 1px solid white; */
    /* border-top: 1px solid white; */
    box-shadow: 0 0 3px #aaa;
    border-radius: 1em;
    padding: 0.5em;
}
.MPSideNavBottom
{
    font-size: 125%;
}

/* footer*/
.MPFooter
{
    /* height: auto; */
    /* min-height: 2em; */
}

/*side nav maybe a hangover from what jason did*/
.MPSideNav
{
    padding: 0px;
}
.OwnerBlock
{
    width: auto;
}
.ProgressBarProgress
{
    background-image: url('http://cdn.hlm2.com/App_Themes/Common/Images/progress.png');
    background-position-y: 16px;
    border-radius: 1em;
    moz-border-radius: 1em;
    webkit-border-radius: 1em;
    border-bottom: 1px solid #333;
    margin-left: -0.3em;
}
.ProgressBar
{
    margin: 0.2em 0 0.5em 0;
    border: none;
    background-color: #EBECED;
}
.SideMenu table
{
    width: 100%;
}

#MPOuter 
{
    margin:0em;
    border: none;
}
/* IDs */
#MPAuxNav ul.level1 li a.level1
{
    border-right: 1px solid #888;
}
#MPAuxNav ul.level1 li.static:last-child, #BottomMenu ul.level1 li.static:last-child
{
    border-right: none;
}
#MPHeader
{
    margin:0.2em;
}
#MPSearchBlock .Watermark, #MPSearchBlock .TextBox
{
    /* border: 1px solid #C4C4C4 !important; */
    /* margin-top: 3px !important; */
    padding: 0.1em;
    cursor: text !important;
    /* -webkit-box-shadow: inset 0 1px 2px #ddd !important; */
    -moz-box-shadow: inset 0 1px 2px #ddd !important;
    /* box-shadow: inset 0 1px 2px #ddd !important; */
    border-radius: 0.3em;
    height: 100%;
    margin: 0;
}
#MPSearchBlock .Button
{
    background: url('http://cdn.hlm2.com/App_Themes/Common/Images/mag.png') 4px 5px no-repeat;
}
#FooterContent .ContentItemHtml
{
    float: right;
}

#HomePlaceHolder
{
    /* padding: 0px; */
}

/*ButtonBarMenu - find out what messes up old menus*/
#ButtonBarMenu ul li
{
    position: relative;
    float: left;
    list-style: none;
}
#ButtonBarMenu, #ButtonBarMenu ul.level1 li a.level1
{
    /* height: 30px; */
    /* padding: 0px; */
}

#ButtonBarMenu
{
    /* height: 32px; */
}

#ButtonBarMenu ul.level1 li.has-popup ul li.dynamic a, #ButtonBarMenu ul.level1 li:hover a, #ButtonBarMenu ul.level1 li a.selected
{
    border-bottom: 1px solid #bd0000;
}
#ButtonBarMenu ul.level1 li.has-popup a, #ButtonBarMenu ul.level1 li.static a
{
    padding: 0.5em 0.5em 1em !important;
}

#ButtonBarMenu ul.level1 li.has-popup a, #ButtonBarMenu ul.level1 li.static a
{
    border: none !important;
}

#MPButtonBar
{
    height: 1.5em;
    /* font-size: 1.2em; */
}

#ButtonBarMenu
{
    /* height: 36px; */
}
#ButtonBarMenu ul.level1 li a
{
    padding-bottom: 1em;
}

/* aux menu */
#AuxMenu ul li ul
{
    display: none;
}

#AuxMenu ul li
{
    position: relative;
    float: left;
    list-style: none;
}

/* bottom menu*/
#BottomMenu ul.level1 li a.level1
{
    padding-left: 0.5em;
    padding-right: 0.5em;
}
#BottomMenu ul.level1 li, table.FatFooterMenu ul.level1 li, .SuperMegaMenu li
{
    list-style: none outside none;
}
#BottomMenu ul.level1 li.static
{
    border-right: 1px solid #FFFFFF;
}
#BottomMenu ul.level1 li a.level1
{
    padding-left: 0.5em;
    padding-right: 0.5em;
}
#BottomMenu ul.level1 li, table.FatFooterMenu ul.level1 li, .SuperMegaMenu li
{
    list-style: none outside none;
}
#BottomMenu ul.level1 li.static
{
    border-right: 1px solid #FFFFFF;
}
#btnCancel
{
    color: red;
    border-radius: 1em;
    padding:1em;
}
#SideMenuStatic, #SideMenuStatic ul
{
    width: 100% !important;
}
#SideMenuStatic, #SideMenuStatic ul
{
    width: 100% !important;
}
#SideMenuStatic ul.level1 li
{
    list-style: none outside none;
}
#Logo, 
#LeftToLogo,
#RightToLogo
{
    min-height:0;
}
#MPSideNav ul.level1 li a.level2
{
    font-weight: normal;
    padding-left: 3em;
}
#MPSlogan {
    font-size:1.2em;
}
#Welcome_LoginLink {
    padding: 0.5em;
    background-color: #334f98;
    border-radius: 0.5em;
    font-size: 80%;
    margin:1em 1em 0 0;
    white-space:nowrap;
}
div.TotalRatingLike
{
    width: 100%;
}

