/********************* Basics **************************/
.bodyBackground
{
    background-color: #FFFFFF;
}
#MPOuter
{
    color: #000000;
    background-color: #FFFFFF;
    border-color: #777777;
}
.MPContentArea, .MPContentAreaWide, .SearchResults .PostedBy, .SearchResults .FoundIn
{
    color: #000000;
}
a, a:link, a:visited, a:focus, .mainCommDescriptionLabel a, #CommunityTabs ul li a, .hlListViewTitle a
{
    color: #334F98;
}
a:hover, .mainCommDescriptionLabel a:hover, #CommunityTabs ul li a:hover, .hlListViewTitle a:hover
{
    color: #334F98;
}
h1, .Heading1 
{
	color:#9ECC3B;
	border-bottom-color:#9ECC3B;
	border-top-color:#9ECC3B;
}
h2, .Heading2, h2 a, h2 a:hover, h2 a:link, h2 a:visited, h2 a:focus
{
	color:#000000;
	border-bottom-color:#03428E;
}
h3, .Heading3, h3 a:hover, h3 a:link, h3 a:visited, h3 a:focus
{
	color:#EEEEEE;
}

hr, hr.delimiter
{
	border-top-color:#9ECC3B;
}
.NewBorder1 
{
    border-color:#777777;
}

.MPFooter, #MPCopyright
{
    background-color: #03428E;
    color: #FFFFFF;
}
#MPCopyright
{
	background-color: transparent;
}
fieldset
{
   border-color: #9ECC3B;
}
fieldset legend 
{
   background-color: #9ECC3B;
   border-color: #9ECC3B;
   color: #FFFFFF;
}
.SearchResults .SortBy
{
   color: #FFFFFF;
}
/*********************** Landing Controls ******************/
.HLLandingControl h2, .headerItem, .drItemSubHeader, .drItemSubHeader a 
{
	background-color:#9ECC3B;
	color: #FFFFFF
}
.HLLandingControl .Content 
{
	border-color:#9ECC3B #777777 #777777;
	color: #000000;
	background-color: #FFFFFF;
}
.HLLandingControl .Content a
{
	color: #334F98;
}
.HLLandingControl .ByLine
{
    color: #000000;
}
.HLLandingControl h5, .HLEngagement h3
{
	color:#03428E;
}
.HLLandingControl .Content h3, .HLAnnouncements .Content h2, .HLRSSReader .Content h2
{
	color:#9ECC3B;
}

/************************ Welcome ***********************/
.HLWelcomeHeader .Content 
{
	border-color:#9ECC3B #777777 #777777;
}
.HLWelcome .MenuLinks a, .HLWelcome .UnreadMessages a
{
	color:#03428E;
}
.HLWelcome .MenuLinks a
{
	border-left-color:#03428E;
}
.HLWelcome .Welcome
{
    background-color: #FFFFFF;
}
.HLWelcome .Profile
{
    background-color: #FFFFFF;
}
.HLWelcome .Welcome h1
{
    color: #FFFFFF;
}
.ProgressBarProgress 
{
	background-color:#9ECC3B;
}
.HLWelcome .Login a:hover, .HLWelcome .Login a:visited, .HLWelcome .Login a:link, .HLWelcome .Login a:focus
{
	color: #9ECC3B;
}

/************************ Tabs **********************/
.TabButtonBottom 
{
	background-color:#9ECC3B;
}
 
.tabStyle .ajax__tab_active .ajax__tab_tab, .repeatImageSelected,.homeRepeatImageSelected,.groupsRepeatImageSelected,
.tabStyle .ajax__tab_active .ajax__tab_outer, .tabStyle .ajax__tab_active .ajax__tab_inner, .tabStyle .ajax__tab_header,
.TabSelected, .MPContentSection a.TabSelectedDir, a.TabSelectedDir 
{
	background-color:#9ECC3B;
	border-color:#9ECC3B ;
	color:#FFFFFF;
}
.tabStyle .ajax__tab_tab, .homeRepeatImage,.repeatImage,.groupsRepeatImage, .ajax__tab_outer,
.MPContentSection .Tab a:link, .MPContentSection .Tab a:hover, .MPContentSection .Tab a:visited, .MPContentSection .Tab a:active, 
.MPContentSection a.TabDeselectedDir, .MPContentSection a.TabDeselectedDir:hover, a.TabDeselectedDir, .Tab
{
	background-color:#03428E;
	color:#FFFFFF;
}
.TabBlock 
{
	border-bottom-color:#9ECC3B;
	border-color:#9ECC3B;
	background-color:#9ECC3B;
}
.TabButtonBottom, .TabButtonBottom td
{
	background-color:#9ECC3B;
}
.Tab ,.TabSelected
{
     border-right-color:#FFFFFF;
}

/************************ Miscellaneous **********************/
#MPSlogan
{
	color:#9ECC3B;
}
.ModalPopupHeading, .CustomTableModalPopup .CustomTableModalPopupHeaderRow
{
    background-color:#9ECC3B;
    color: #FFFFFF;
}
.rlScore, .rlScore:hover 
{
	color:#9ECC3B;
}
.lblratingBig 
{
	color:#9ECC3B;
}
.lblrating 
{
	color:#9ECC3B;
}
.InboxMessages 
{
    border-bottom-color:#03428E;
}

/************************ Tables **********************/
.Container thead .Header td, th, .DGHBottom, .ListContainer .ListHeader, .drItemSubHeader
{
    background-color:#9ECC3B;
    color: #FFFFFF;
}
.Container .SubHead td 
{
	background-color:#03428E;
	color:#FFFFFF;
}
.TableRowAlternate
{
	background-color:#FFFFFF;
}



/************************ Search **********************/
.HLSearch .Content .HeaderStatusBar, .SearchResults .HeaderStatusBar
{
    background-color:#9ECC3B;
    color:#FFFFFF;
}
.SearchResults .ItemContent
{
    background-color: #FFFFFF;
}
.SearchResults .ItemTitle a
{
    color: #9ECC3B;
}
.SearchResults .ItemDescription
{
    color: #000000;
}
.SortBy a:link, .SortBy a:visited, .SortBy a:focus
{
    color:#FFFFFF;
}


/************************ Menus ***********************/
.MenuBarUnderline
{
	background-color:#03428E;
}
#MPButtonBar,
#ButtonBarMenu ul.level1 li a
{
    color: #FFFFFF;
	background-color:#03428E;
}
#ButtonBarMenu ul.level1 li.has-popup a,
#ButtonBarMenu ul.level1 li.static a
{
    border-right-color:#FFFFFF;
}
#ButtonBarMenu ul.level1 li:hover a,
#ButtonBarMenu ul.level1 li a.selected
{
    background-color: #03428E;
    color: #FFFFFF;
    border-bottom-color: #03428E;
}
#ButtonBarMenu ul.level1 li.has-popup ul li.dynamic a,
#ButtonBarMenu ul.level1 li.has-popup ul li:hover a,
#ButtonBarMenu ul.level1 li.has-popup ul li a.selected
{
    background-color: #95A3C8;
    color: #FFFFFF;
    border-bottom-color: #03428E;
}
#ButtonBarMenu ul.level1 li ul li a,
#ButtonBarMenu ul.level1 li.has-popup:hover ul li a, 
#ButtonBarMenu ul.level1 li.hover ul li a,
#ButtonBarMenu ul.level1 li a.hover ul li a
{
    border-bottom-color: #03428E;
    color: #FFFFFF;
}
#ButtonBarMenu ul.level1 li.has-popup ul li a.highlighted,
#ButtonBarMenu ul.level1 li.has-popup ul li a:hover
{
     background-color: #03428E;
     color: #FFFFFF;
}
#MPAuxNav ul.level1 li a
{
    color: #334F98;
}
#MPAuxNav ul.level1 li ul
{
    background-color: #03428E;
}
#MPAuxNav ul.level1 li li.dynamic
{
    border-right-color: #334F98;
}
#MPAuxNav ul.level1 li ul li
{
    background-color: #9ECC3B;
}
#MPAuxNav ul.level1 li.static
{
    border-right-color: #FFFFFF;
}
#MPAuxNav ul.level1 li ul li a,
#MPAuxNav ul.level1 li ul li.has-popup:hover a, 
#MPAuxNav ul.level1 li ul li.has-popup a:hover, 
#MPAuxNav ul.level1 li.has-popup ul li a, 
#MPAuxNav ul.level1 li li a
{
    color: #FFFFFF;
}
#MPAuxNav ul.level1 li.has-popup ul li a.highlighted,
#MPAuxNav ul.level1 li.has-popup ul li a:hover
{
     background-color: #9ECC3B;
     color: #FFFFFF;
}
#MPSideNav ul.level1 li a,
#MPSideNav ul.level1 li.dynamic a, 
#MPSideNav ul.level1 li.has-popup a, 
#MPSideNav ul.level1 li a.selected
{
    background-color: #F8F8F8;
}
#MPSideNav ul.level1 li a
{
    color: #334F98;
}
#ButtonBarMenu ul.level1 li ul,
#SideMenu ul.level1 li ul
{
    background-color:White;
}
.MPSideNavBottom
{
	color:#0069A5;
}
.BreadCrumb span
{
    color: #000000;
}
.BreadCrumb a
{
    color: #334F98;
}
.MPBottomMenu ul.level1 li a
{
    color: #FFFFFF;
}
.megamenu, .SuperMegaMenu, .SuperMegaMenu li, .SuperMegaMenu li a
{
	background: #95A3C8;
}
.megamenu td.right
{
	border-left-color: #03428E;
}
.megamenu a, .SuperMegaMenu a,
.megamenu a:link, .SuperMegaMenu a:link,
.megamenu a:visited, .SuperMegaMenu a:visited,
.megamenu a:focus, .SuperMegaMenu a:focus
{
	color: #FFFFFF
}
.megamenu h3 a
{
	color: #FFFFFF
}
.megamenu ul li:hover, .megamenu h3:hover, .SuperMegaMenu ul li a:hover, .SuperMegaMenu ul li ul li:hover, .SuperMegaMenu ul li ul li:hover a
{
    background-color: #03428E;
}
.megamenu ul li:hover a, .megamenu h3:hover a, .SuperMegaMenu ul li:hover a
{
    color: #FFFFFF;
}
.SuperMegaMenu td
{
	border-color: #03428E;
}
/*Jason Resetting of Join Link*/
.JoinLeaveLink #hl-csslinkbutton {
	padding-top:1em;
	float:left;
        padding-bottom: 3em;
}


/* Brendan - Shifting invite others to join link up
#MainCopy_ctl11_Invite {
position:relative;
top:-36px;
left:60px;
}

 */
/* Brendan - Move admin site edit bar to upper left */
.AboveContentBarLeft {
	position:fixed;
	top:0;
	left:1em;
	background-color:#FFF;
}

/* Brendan - Move Leave community to left side in effort to balance out recent activity view when in a group*/
#MainCopy_ctl09_ucPermissionJoin_lnkLeave {
	position:relative;
	float:right;
	left:-10em;
}

/* Brendan - Move Join Community Button Down slightly*/
#MainCopy_ctl09_ucPermissionJoin_lnkJoin_CSSLinkButton1 {
	position:relative;
	top:5em;
}

/*Brendan - Hiding search specific sites and blogs as a choice under specific */
#MainCopy_ctl01_DivMicrositeContentHeader {
	display:none;
}

/*Karl - Reformat Modal Popup Box */
.ModalPopupPanel {
	padding:1em;
	border-radius: 0.5em;
}

/*Karl - Hide Add Session option when adding events */
#MainCopy_ctl01_SessionsDIV {
	display:none;
}

/*Karl - Hide Status option when adding events */
#MainCopy_ctl01_StatusRadioButtonList {
	display:none;
}

/*Brendan - Hide email address edit when joining group */
#MainCopy_ctl01_lstCommunityList_join_0_hlcommonSubscribe_0_EmailEditSection_0,#MainCopy_ctl09_ucPermissionJoin_hlcommonSubscribe_EmailEditSection {
	display:none;
}

/*Brendan - Adding white BG to links at top of page */
#AuxMenu {
	background-color:#FFF;
	position:relative;
	top:-7px;
	-webkit-border-bottom-left-radius:0.5em;
	-moz-border-radius-bottomleft:0.5em;
	border-bottom-left-radius:0.5em;
	-webkit-border-bottom-right-radius:0.5em;
	-moz-border-radius-bottomright:0.5em;
	border-bottom-right-radius:0.5em;
}

/*Karl - Hiding OpenToValue and OpenToPrompt */
.OpenToValue,.OpenToPrompt {
	display:none;
}

p,div {
	font-family:Lucida Sans,sans-serif;
}

/*Brendan - removing Highest Scoring from Library tabs */
.TabBlock {
	display:none;
}

/*Brendan - Hiding event where */
.EventWhereLbl {
	display:none;
}

/* Brendan - Hiding owner change in library creation */
#MainCopy_ctl01_OwnerPanel {
	display:none;
}

/*Brendan - Hiding Add event button to event list */
#MainCopy_ctl01_AddEvent_CSSHyperLink1 {
	display:none;
}

/* Brendan - Adding BG image to Getting started*/
.gettingstarted .Content {
	background-image:url(http://www.nten.org/sites/default/files/13ntccongregation3_0.jpg);
	background-position:0 0;
	background-repeat:repeat-x;
}

/* Brendan - Hiding Printer friendly button */
#PrinterFriendly {
	display:none;
}

/*Brendan - Removing registration dates from event creation */
#MainCopy_ctl01_RegistrationSettingsDiv {
	display:none;
}

/*Brendan fixing h2 colors */
h2 {
	background-color:#9ecc3b;
	color:#FFF;
	text-indent:0.5em;
	border:1px solid #9ecc3b;
	-webkit-border-top-left-radius:0.5em;
	-webkit-border-top-right-radius:0.5em;
	-moz-border-radius-topleft:0.5em;
	-moz-border-radius-topright:0.5em;
	border-top-left-radius:0.5em;
	border-top-right-radius:0.5em;
	padding:0.7em 0 0.6em 1em;
	font-weight:450;
	font-size:108%;
	font-family:Lucida Sans,sans-serif;
}

/*Brendan Putting proper borders around HTML Content Boxes */
.HLLandingControl div.HtmlContent,.HLLandingControl div.RSSReader {
	border:1px solid #777;
	border-top:0 solid #777;
	background-color:#FFF;
	margin-bottom:1em;
}

/* Brendan - Attempt at mobile friendly sight formatting - breaks if not using standard page format
@media screen and (max-width: 960px) {
.twocolumn, div#MPOuter, div.MPContentAreaHome, .MPContentAreaHome, div.onecolumn, #MPOuterMost {width:100% !important; float:none !important }
}
 */
#ButtonBarMenu {
	margin-top:0;
}

.profileControlSmall h2 {
	width:50em!important;
}

.profileControlSmall {
	width:51em!important;
}

.bodyBackground {
	background-image:url(http://www.nten.org/sites/default/files/background.jpg);
	background-repeat:repeat-x;
	background-color:#FFF;
}

/** Hide Border of Slide Deck **/
.skin-slidedeck dl.slidedeck > dd {
	border-right:0!important;
	background:none!important;
}

.skin-slidedeck {
	background:none repeat scroll 0 0 transparent!important;
	border:0 none!important;
	box-shadow:none!important;
	padding:0!important;
}

/** End of Hide Border of Slide Deck**/
/** To remove the padding to the left and right of the slide deck so it is flush with the side of the website, using the below:**/
.skin-slidedeck {
	margin-left:1em;
}

/* Brendan - Change Library Folder browser H1's */
.FolderView h1 {
	background-color:#9ecc3b;
	color:#FFF;
	text-indent:1em;
}

/* Brendan - Login Button Controls */
.HLWelcome .Login a:link,.HLWelcome .Login a:visited {
	color:#FFF;
	font-weight:700;
	font-size:1.5em;
	font-variant:small-caps;
	background:#9ecc3b;
	padding:1em;
	top:-3em;
	position:relative;
	border-radius:1em;
	text-decoration:none;
}

/* Brendan - Change Welcome box H1 Colors */
#Welcome_Content h1 {
	background-color:#FFF;
	color:#ACCB4A;
}

#PageTitleH1 {
	background-color:#9ecc3b;
	color:#FFF;
}

/* Brendan - Moving search button (can't remember which) */
#MainCopy_ctl03_WholeSearch {
	float:right;
	margin-right:1em;
}

/* Brendan - Shift Blog post body down slightly to avoid button overlap */
#MainCopy_ctl11_ContentPanel {
	position:relative;
	top:10px;
}

.Section3 {
	padding-left:0.5em;
}

/* Brendan - Centering Profile photos */
#Welcome_Details_ProfilePic_0 {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

/* Brendan - Color border on community member header*/
.drItemSubHeader {
	border:1px solid #9ecc3b;
}

/* Brendan - Rounding Logo corners */
#Logo img {
	border:1px solid #fff;
	border-radius:0.5em;
	-moz-border-radius:0.5em;
	-khtml-border-radius:0.5em;
	-webkit-border-radius:0.5em;
}

/* Catherine - Bold "Post Message" in right column in Discussion thread 
#MainCopy_ctl07_ucMessageList_rptMessageList_PostMessageLink_0,#MainCopy_ctl07_ucMessageList_rptMessageList_PostMessageLink_1,#MainCopy_ctl07_ucMessageList_rptMessageList_PostMessageLink_2,#MainCopy_ctl07_ucMessageList_rptMessageList_PostMessageLink_3,#MainCopy_ctl07_ucMessageList_rptMessageList_PostMessageLink_4,#MainCopy_ctl07_ucMessageList_rptMessageList_PostMessageLink_5,#MainCopy_ctl07_ucMessageList_rptMessageList_PostMessageLink_6,#MainCopy_ctl07_ucMessageList_rptMessageList_PostMessageLink_7,#MainCopy_ctl07_ucMessageList_rptMessageList_PostMessageLink_8,#MainCopy_ctl07_ucMessageList_rptMessageList_PostMessageLink_9 {
	font-weight:700;
}
*/

/* Catherine - revised*/

#MessageListContainer .MessageMenuList li:nth-child(5) a{
font-weight:bold;
}


/*Brendan - Moving Create new library button to the right */
#MainCopy_ctl09_CommunityButton_CSSLinkButton1 {
	float:right;
	top:1em;
	right:1em;
}

/*Brendan - tweaking button non-hover color 8*/
a.actionButton,#hl-csslinkbutton a.actionButton,a.actionButton {
	background:#9ecc3b;
	background-image:-moz-linear-gradient(center top,#439200,#439200);
	color:#FFF;
}

#MainCopy_ctl09_lnkPostMessage_CSSHyperLink1:hover {
	background-image:-moz-linear-gradient(center top,#439200,#439200);
	color:#EBEBEB;
}

/* Catherine - change the hover color for all green buttons to dark green */
a.actionButton:hover,#hl-csslinkbutton a.actionButton:hover {
	background-color:#c4ee6f;
	background-image:-moz-linear-gradient(center top,#c4ee6f,#c4ee6f);
	color:#EBEBEB;
}

/*#hl-csslinkbutton {
position:relative;
float:right;
clear:both;
margin-right:10px;
margin-top:10px;
}*/
/*Brendan - Removing unnecessary h2 in discussions tab*/
#MainCopy_ctl09_divLastMsg {
	display:none;
}

#MainCopy_ctl05_WholeSearch {
	position:relative;
	float:right;
	clear:both;
}

/*Brendan - Attempt at coloring border of menu dropdowns */
#ButtonBarMenu ul {
	border:1px solid #03428E;
}

level2 dynamic #MPButtonBar {
	border:2px solid #03428E;
}

li.level2 dynamic {
	background-color:#95a3c8;
}

/*Brendan - removing MenuBarUnderline */
.MenuBarUnderline {
	color:#FFF;
	display:none;
}

#gallery,#galleriaDescContainerDIV {
	display:none;
}

/*Brendan-Change color of code of conduct title*/
h3 {
	color:#777;
}

/*Brendan - Moving Create event button in event tab to not float out in space */
#MainCopy_ctl05_CommunityButton_CSSLinkButton1 {
	position:relative;
	float:right;
	margin-top:2em;
	left:22.4em;
}

/*Brendan - Fix alignment of library entry button */
#MainCopy_ctl05_CommunityButton_CSSLinkButton1 {
	float:right;
	margin-top:3em;
	margin-right:-1em;
}

/* Catherine - When users are logged out and go to Directory, the job titles in the search results appear twice
.Directory .addressDiv{
display: none;
}*/
/* Catherine - remove Blogs checkbox in Advanced Search */
#MainCopy_ctl01_ProductList tr:nth-child(1) td:nth-child(2) {
	display:none;
} 

/* Catherine - bottom margin for the Join Community button */
#MainCopy_ctl09_ucPermissionJoin_lnkJoin_CSSLinkButton1 {
	margin-bottom:1em;
}
#MPimage { background-image: url('http://higherlogicdownload.s3.amazonaws.com/NTEN/18043773-d596-47c5-8c01-a3c2ac38bf11/UploadedImages/header-neuron-ntencolors-gb.png'); background-repeat: repeat; }
